@model IEnumerable<DependencyInjection_Demo.Models.Student>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Details of Students";
}
<html>
    <head>
        <title></title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Department</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var stud in Model)
            {
                <tr><td> @stud.Id</td><td>@stud.Name</td><td>@stud.Email</td></tr>
                
            }
        </tbody>
        </table>
    </body>
</html>
